#global_navi{
    text-align: center;
    display: block;
    position: fixed; /* 要素の位置を固定する */
    top: 0; /* 基準の位置を画面の一番上に指定する */
    left: 0; /* 基準の位置を画面の一番左に指定する */
    margin: 0; /* 要素の余白を０にする */
    width: 100%; /* 幅を指定する */
    font-size: large;
    letter-spacing: 10px;
}
sign{
    text-align: center;
    width: 300px;
    padding-bottom:150px;/*ボタンとの重なり回避*/
    margin-top:100px;/*ナビゲーションとの重なり回避*/
}

